/modules/.terraform/
/local_testing
/side-scripts/discord_bot/.env
/modules/.env
/side-scripts/otp/.env
/side-scripts/otp/QRCode.png
/local_postgres/.env
/local_postgres/superset/.env
.terragrunt-cache/
.terraform/
.idea/
.vscode/
.env
.DS_store
*.pyc